server:
  port: 9090

spring:
  application:
    name: proxy-auth-service
#  cloud:
##    config:
##      uri: ${CONFIG_SERVICE_URL}:8888
##      name: eureka-client, service-routes
  management:
    security:
      enabled: false

#ENABLE DYNAMIC ROUTING
management:
  endpoints:
    routes:
      enabled: true
    web:
      exposure:
        include=*:

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 2
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL}/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5

zuul:
  igoredServices: '*'
  host:
    connect-timeout-millis: 30000
    socket-timeout-millis: 30000
  routes:
    hello-world-service:
      path: /hello-service/**
      serviceId: hello-world-service
    applicant-service:
      sensitiveHeaders:
      path: /applicant/**
      url: http://chippermitrais.ddns.net/applicant
    auth-service:
      sensitiveHeaders:
      path: /auth/**
      url: http://chippermitrais.ddns.net/auth
    event-service:
      sensitiveHeaders:
      path: /event/**
      url: http://chippermitrais.ddns.net/event
    imagefile-service:
      sensitiveHeaders:
      path: /imagefile/**
      url: http://chippermitrais.ddns.net/imagefile
    oauth-service:
      sensitiveHeaders:
      path: /oauth/**
      url: http://chippermitrais.ddns.net/oauth
    profile-service:
      sensitiveHeaders:
      path: /profile/**
      serviceId: profile-service
    user-service:
      sensitiveHeaders:
      path: /user/**
      url: http://chippermitrais.ddns.net/user



#hello-world-service:
#  ribbon:
#    listOfServers: hello-world-service:9091
#    listOfServers: localhost:9091

ribbon:
  ConnectTimeout: 120000
  ReadTimeout: 120000
  eureka:
    enabled: true

#Actuator contains the health indicators used by Eureka Server to determine
# the health of the service.
# (By default, Eureka server set the URL to the /info of the service to check the health)