server:
  port: 9090

spring:
  application:
    name: gateway-service
#  cloud:
##    config:
##      uri: ${CONFIG_SERVICE_URL}:8888
##      name: eureka-client, service-routes
  management:
    security:
      enabled: false

#ENABLE DYNAMIC ROUTING
management:
  endpoints:
    routes:
      enabled: true
    web:
      exposure:
        include: "*"

eureka:
  instance:
    leaseRenewalIntervalInSeconds: 5
    leaseExpirationDurationInSeconds: 2
    prefer-ip-address: true
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL}/eureka/
    healthcheck:
      enabled: true
    lease:
      duration: 5

zuul:
  ignoredServices: '*'
  host:
    connect-timeout-millis: 30000
    socket-timeout-millis: 30000
  routes:
    hello-world-service:
      sensitiveHeaders:
      path: /hello/**
      serviceId: legacy-service
      strip-prefix: false
    applicant-service:
      sensitiveHeaders:
      path: /applicant/**
#      url: ${SERVICES_URL:http://chippermitrais.ddns.net}/applicant
      serviceId: legacy-service
      strip-prefix: false
    auth-service:
      sensitiveHeaders:
      path: /auth/**
#      url: ${SERVICES_URL:http://chippermitrais.ddns.net}/auth
      serviceId: auth-service
#      service-id: legacy-service
      strip-prefix: false
    event-service:
      sensitiveHeaders:
      path: /event/**
#      url: ${SERVICES_URL:http://chippermitrais.ddns.net}/event
      serviceId: legacy-service
      strip-prefix: false
    imagefile-service:
      sensitiveHeaders:
      path: /imagefile/**
#      url: ${SERVICES_URL:http://chippermitrais.ddns.net}/imagefile
      serviceId: legacy-service
      strip-prefix: false
    oauth-service:
      sensitiveHeaders:
      path: /oauth/**
#      url: ${SERVICES_URL:http://chippermitrais.ddns.net}/oauth
      serviceId: legacy-service
      strip-prefix: false
    profile-service:
      sensitiveHeaders:
      path: /profile/**
      serviceId: profile-service
      strip-prefix: true
    user-service:
      sensitiveHeaders:
      path: /user/**
#      url: ${SERVICES_URL:http://chippermitrais.ddns.net}/user
      serviceId: legacy-service
      strip-prefix: false

#hello-world-service:
#  ribbon:
#    listOfServers: hello-world-service:9091
#    listOfServers: localhost:9091

#ribbon:
#  ConnectTimeout: 120000
#  ReadTimeout: 120000
#  eureka:
#    enabled: true

#Actuator contains the health indicators used by Eureka Server to determine
# the health of the service.
# (By default, Eureka server set the URL to the /info of the service to check the health)